.service {
    height: 85vh;
    background-color: #eef1f1;
}

@media (max-width: 1440px) {
    .service {
        height: 83vh;
    }
}

@media (max-width: 768px) {
    .service {
        height: 175vh;
    }
}

@media (max-width: 425px) {
    .service {
        height: 215vh;
    }
}

@media (max-width: 375px) {
    .service {
        height: 200vh;
    }
}

.service-img {
    border-bottom: 2px dotted red;
}

.service-card {
    display: grid;
    grid-gap: 50px;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}

@media (max-width:768px) {
    .service-card {
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:425px) {
    .service-card {
        grid-template-columns: repeat(1,1fr);
    }
}

.card-wrap{
    margin: 10px;

    border-radius: 20px;
    background-color: #fff;
}

.service-img{
    width: 450px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #000;
}

.service-p-h3{
    margin: 35px;
}

@media (max-width:990px) {
    .service-p-h3{
        margin: 15px;
    }
}