.services-part {
    /* margin-top: 100px; */
    background-color: antiquewhite;
}

.service {
    height: 99vh;
    background-color: antiquewhite;
}

.card {
    font-size: 25px;
}

.service-img {
    /* height: 250px; */
    /* width: 289px !important; */
}