.service {
    height: 85vh;
    background-color: #000000;
}

@media (max-width: 425px) {
    .service {
        height: 150vh;
    }
}

@media (max-width: 425px) {
    .service {
        height: 170vh;
    }
}
@media (max-width: 320px) {
    .service {
        height: 200vh;
    }
}

.service-img {
    border-bottom: 2px dotted red;
}

.service-title {
    color: white;
    text-align: center;
    margin-bottom: 1.3rem;
    font-family: 'Redressed', cursive;
}

.title-details {
    color: white;
    text-align: center;
    /* margin-bottom: 1rem; */
    font-family: 'Redressed', cursive;
}