.about-wrapper {
    display: flex;
    height: 89vh;
    background-color: #061621;
}

@media (max-width:991px) {
    .about-wrapper {
        height: 110vh;
    }
}

@media (max-width:767px) {
    .about-wrapper {
        height: 145vh;
    }
}

@media (max-width:425px) {
    .about-wrapper {
        height: 175vh;
    }
}

@media (max-width:375px) {
    .about-wrapper {
        height: 185vh;
    }
}

@media (max-width:320px) {
    .about-wrapper {
        height: 205vh;
    }
}

.about-text {
    margin: 1.5rem;
    padding-bottom: 1px solid black;
}

.about-top {
    color: black;
    font-weight: 700;
}

.about-top-span {
    color: green;
    font-family: 'Cardo', serif;
}

.about-h3 {
    color: black;
    font-weight: 600;
}

.about-name {
    color: black;
    margin-top: -15px;
    font-family: 'Parisienne', cursive;
}

.about-paragraph {
    color: black;
    font-size: 1.2rem;
}