.home-wrapper {
    height: 92vh;
    background: #023430;
}

.text-area {
    margin-left: 45%;
}

@media (max-width: 1456px) {
    .text-area {
        margin-left: 40%;
    }
}

@media (max-width: 1335px) {
    .text-area {
        margin-left: 35%;
    }
}

@media (max-width:1232px) {
    .text-area {
        margin-left: 25%;
    }
}

@media (max-width:980px) {
    .text-area {
        margin-left: 20%;
    }
}

@media (max-width:882px) {
    .text-area {
        margin-left: 10%;
    }
}

.name-paragraph {
    color: #d3d3d3;
    font-weight: 600;
}

.first-name {
    color: #ffffff;
    font-weight: 800;
    font-family: 'Great Vibes', cursive;
}

.fixed-name {
    /* font-size: 1.8rem; */
    font-weight: 700;
    color: #ffffff
}

@media (max-width:425px) {
    .fixed-name {
        font-size: 1.5rem;
    }
}

/* --------------- HEADER-BUTTON --------------- */

.social-btn {
    color: #fff !important;
    font-weight: 600;
    font-size: 1rem !important;
    border-radius: 5px;
    padding: 10px 2rem;
    margin-right: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1bb1dc !important;
}

.social-btn:hover {
    color: #fff;
    background-color: #038bb1;
    transition: .3s ease-in-out;
}


/* ------------------------POINTERS------------------------ */

.pointer {
    top: 79%;
    right: 50%;
    height: 40px;
    width: 24px;
    position: absolute;
    border-radius: 20px;
    border: 2px solid #000000;
    /* transform: translate(-50%, -50%); */
}

@media (max-width:768px) {
    .pointer {
        top: 72%;
    }
}

@media (max-width:425px) {
    .pointer {
        top: 93%;
        right: 40%;
    }
}


.pointer::after {
    top: 5px;
    left: 50%;
    opacity: 1;
    width: 5px;
    content: ' ';
    height: 5px;
    margin-left: -2px;
    position: absolute;
    border-radius: 100%;
    background-color: #000000;
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    animation: scroll 1.5s 1s cubic-bezier(.68, -.55, .265, 1.55) infinite;
}

.waves {
    bottom: 0;
    position: absolute;
}