.contact-wrapper {
    height: 70vh;
    background-color: #023430;
}

@media (max-width: 320px) {
    .contact-wrapper{
        height: 120vh;
    }
}

.status {
    color: var(--primary-orange);
}

.contact-button {
    transition: .3s ease-in-out;
    height: 2.8rem;
    border: 1px solid red;
    text-decoration: none;
    text-transform: var(--text-uppercase);
    color: var(--primary-white);
    border: 1px solid var(--primary-red);
}

.contact-button:hover {
    background-color: #599a59;
}
