:root {
  --primary-color: #fff;
  --primary-orange: orange;
  --text-uppercase: uppercase;
}

.shared-heading {
  width: 15rem;
  height: 3.5rem;
  margin-left: 45%;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 5px solid goldenrod;
  text-transform: var(--text-uppercase);
  border-image: linear-gradient(to right, goldenrod 30%, #115f79 25%, #115f79 70%, goldenrod 50%) 5;
}








.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}